 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About {{site.title}}</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <p>ThingLearn was born from discussions with teachers and education professionals about their interest in the Internet of Things and a lack of curriculum to help students learn. It was born from a <a href="http://slides.com/telerikdevrel/using-the-internet-of-things-in-the-classroom" target="_blank">presentation</a> at Boston's Learn Launch conference in 2014 and discussions with teachers afterwards.</p>
                    <p>Built by Jen Looper, a developer, and Qing Hu, a professor at MIT, ThingLearn is all about easing the path for students to learn innovative tools and technologies and for teachers to have the right tools with which to teach these technologies.</p>
                </div>
                <div class="col-lg-4">
                    <p>This site includes beginning, intermediate, and advanced projects that will help students discover the many things that they can create using IoT devices. It is geared towards Middle-School aged students but could be used by students of all ages from Elementary through High School.<br><br>In the process, they are encouraged to learn programming basics and expand their knowledge of systems design and signal processing.</p>
                </div>
                <div class="col-lg-4">
                    <p>Visit the <a class="lite" href="/essentials">Essentials</a> section to learn about the basic concepts taught by each project, such as basic circuit-building and how electricity works.</p>
                    <p>You can also purchase parts for each project via links at the top of each project page.</p>
                    <p>ThingLearn is proud to partner with <a class="lite" href="http://www.hackster.io">Hackster.io</a> who hosts our projects.</p>
                </div>
            </div>
        </div>
    </section>