
    <!-- Section Grid Section -->
    <section id="section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>{{page.title}}</h2>                    
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2 portfolio-item">
                    <img class="img-responsive centered" src="{{ site.baseurl }}/img/{{page.thumbnail}}" alt="">
                </div>
                {% for post in site.posts %}
                {% if post.category == {{page.title}} %}
                    <div class="col-sm-8 portfolio-item">

                        <div class="caption">
                            <h3>
                                <a class="post-link" href="{{ post.external-link }}">{{ post.title }}</a>
                            </h3>

                            <p class="copy">
                                {{post.caption}}
                            </p>
                        </div>
                    </div>
                 {% endif %}
                {% endfor %}
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <p class="caption"><a href="{{ site.baseurl }}/archive">All Projects</a></p>
                </div>
            </div>
    </section>