 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Who Are We?</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <h3>The Maker and Developer</h3>
                    <p>Jen Looper has been a web and mobile developer for over 14 years, building mobile apps and web projects in the educational and fitness space. Visit her portfolio at <a class="lite" href="http://www.ladeezfirstmedia.com" target="_blank">Ladeez First Media</a>. She is passionate about working with developers, parents and teachers to create a great experience making learning about hardware hacking and the Internet of Things fun and rewarding. Jen has a PhD in French literature from the University of California at Berkeley and her career demonstrates that, if you put your mind to it, you can learn how to do really awesome things.</p>
                    <p align="center"><img src="/img/jen.jpg" alt="Jen Looper"/></p>
                </div>
                <div class="col-lg-6">
                    <h3>The Professor</h3>
                    <p>Qing Hu is a Professor in the Electrical Engineering and Computer Science department at MIT. He is the QA department for ThingLearn, vetting each article for soundness to ensure the quality of our curriculum. With top-notch physics training, many years' experience as an educator, and sound curriculum-building skills, Qing is ThingLearn's "secret weapon." Visit his website at <a class="lite" href="http://www.rle.mit.edu/people/directory/qing-hu/" target="_blank">http://www.rle.mit.edu/people/directory/qing-hu/</a></p>
                    <p align="center"><img src="/img/qing.jpg" alt="Qing Hu"/></p>
                </div>
                
            </div>
        </div>
    </section>